/* styles.css */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.page-section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
header, nav, main, footer {
    margin: 10px;
}
#cemeteryImage {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    display: block;
    margin: auto;
}
/* =======================================*/
/* ENLACES */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(139, 139, 139);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #ffffff;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    background-color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.nav-links a:hover {
    color: #00c3ff; /* Change to your preferred hover color */
}
/* FIN DE ENLACES */
/* =======================================*/
footer {
    text-align: center;
    color: #888;
}
/* =======================================*/
/* login.html */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}
/* FIN login.html */
/* =======================================*/
/* IMAGEN DE MAPA */
.resizable-image {
    max-width: 100%;
    height: auto;
 }

 /* =======================================*/
/* Responsive styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        margin-top: 1em;
        justify-content: space-around;
    }
}