body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* BARRA DE ARRIBA Izquierda */
.nav-arriba {
  background-color: #ffffff;
  overflow: hidden;
}
.nav-arriba a {
  float: left;
  color: #bbbbbb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav-arriba a:hover {
  background-color: #787878;
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.nav-arriba a.active {
  background-color: #04aa6d;
  color: white;
}
/* FIN BARRA DE ARRIBA*/

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
/*MEDIO*/
.container {
  /* Set background image */
  background-image: url("imagenes/cementerio-de-corrubedo.jpg");

  /* Specify background image size */
  background-size: cover;

  /* Center the background image */
  background-position: center;

  /* No repeat of the background image */
  background-repeat: no-repeat;

  /* Set a background color as a fallback */
  background-color: #f2f2f2;

  /* Specify background attachment behavior (optional) */
  /* background-attachment: fixed; */
  /* Set a fixed height for the container */
  height: 1px;

  /* Apply the blur effect */

  /* Add some padding and margin for better presentation (optional) */
  padding: 500px;
  margin: 20px;
}

/*FIN DEL MEDIO*/
